ecommit_javascript:
    jQuery_core:
         auto_enable: false
         js: /file_jQuery_core.js
    jQuery_ui:
         js: /file_jQuery_ui.js
         css: /file_jQuery_ui.css
    jQuery_tools:
         js: /file_jQuery_tools.js
    ajax:
         autocallbacks: false